<mat-card class="register-card">
  <h1 class="title">Registrarse</h1>

  <mat-card-content class="card-content">
    <form
      class="form"
      [formGroup]="formularioLogin"
      (ngSubmit)="iniciarSesion()"
    >
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombreCompleto" matInput autocomplete="off" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput autocomplete="off" />
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field class="field-container" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          [type]="ocultarPassword ? 'password' : 'text'"
          formControlName="password"
          matInput
          autocomplete="off"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="ocultarPassword = !ocultarPassword"
          type="button"
        >
          <mat-icon matSuffix>
            {{ ocultarPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </mat-form-field>

      <button
        class="full-width"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formularioLogin.invalid"
      >
        Registrar
        <mat-icon matSuffix>login</mat-icon>
      </button>

      <div class="link-container">
        <span > ¿Tienes una cuenta? </span>
        <a routerLink="/authenticate/login" class="txt2"> Iniciar sesion </a>
      </div>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="mostrarLoading">
    </mat-progress-bar>
  </mat-card-footer>
</mat-card>
