.sidenav-handler {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
  width: 220px;
}
.sidenav-handler h1 {
  margin-left: 15px;
}
mat-nav-list {
  margin-left: 10px;
}
.page-active {
  background: #3f51b5 !important;
}
.page-active > *, .page-active .mat-mdc-list-item-title  {
  color: white !important;
}
